@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:100,300,400,500,700');

$color-link: #000000;
$color-accent: #cc071e;
$color-body: #353535;
$body-font: Roboto, sans-serif;


a {
    color: $color-link;
    text-decoration:none;
}

body {
    font-family: $body-font;
    font-size:1.2em;
    margin:0px;
    padding:0px;
}

#current {
    color: $color-accent;
    text-decoration:underline;
}

.detail-list {
  padding-left:20px;
    li {
      list-style-position:inside;
      list-style-type:circle;
      font-weight:300;
      margin-left:20px;
  }
}

.detail-small {
    width:100px;
    margin-bottom:50px;
}

.features {
    margin-bottom:70px;
}

form {
  margin-top:60px;
    p {
      float:left;
      display:block;
      height:25px;
  }
  &:after {
   content: "";
   display: table;
   clear: both;
 }
}

html {
    margin:0px auto;
    width:320px;
    padding:0px;
    font-size:62.5%;
}

header {
  margin-top:10px;
    img {
      height:70px;
      margin-left:90px;
      margin-bottom:30px;
    }
}

h1 {
    display:none;
}

h2 {
    display:inline;
    font-size:2.5rem;
    text-transform:uppercase;
    }

h3 {
    font-size:2.0em;
    letter-spacing:0.5px;
}

img {
    max-width:100%;
}

input[type="submit"] {
    font-size:0;
    width:120px;
    height:25px;
    border: none;
    display:block;
}

li {
    list-style:none;
}

nav ul {
    display:none;
}

p {
    color: $color-body;
    font-weight:300;
    line-height:147%;
}

.product-description h3 {
    font-size:1.6rem;
    font-weight:300;
    padding-left:40px;
}
.products {
  img {
      margin-bottom:10px;
      display:block;
  }

  li {
      padding-right:10px;
      padding-left:10px;
      width:143px;
      height:150px;
      float:left;
      box-sizing:border-box;
      margin-bottom:20px;
  }

  .products ul {
      text-align:center;
      padding:0px;
  }

}

.product-name {
    font-size:1.5rem;
    display:block;
    margin-bottom:5px;
}

.product-price {
    font-size:1.5rem;
    font-weight:700;
    letter-spacing:0.9px;
}

#quantity {
    width:40px;
    height:20px;
    margin-right:22px;
}

.review {
  width:320px;
  display:block;
  min-height:200px;
  padding-top:20px;
  padding-bottom:40px;

    h3 {
        margin-bottom:10px;
    }
}

.review-avatar {
    display:none;
}

.review-date {
    display:block;
    }

.review-header {
    width:100px;
}

.review-rating {
    display:block;
    width:100px;
    float:right;
    margin-top:-28px;
}

.review-subject {
    font-size:2.5rem;
    font-weight:300;

}

.review-user {
    width:50px;
    display:block;
    margin-top:5px;
}

.row:after {
    content:" ";
    clear:both;
    display:block;
}

ul {
    padding-left:0px;
}

.sidebar {
  ul {
      list-style:none;
      padding-left:15px;
  }
  li {
      margin-bottom:4px;
      font-size:1.5rem;
  }
}

#submit {
    background-image: url("images/submit.jpg");
    width:100px;
    margin: auto;
    background-size:100%;
    background-repeat:no-repeat;
    box-sizing:border-box;
}

/* tablet layout */
@media screen and (min-width:600px) {

.detail-small {
    width:182px;
    padding-left:7px;
    padding-right:7px;
}


.features {
    margin-bottom:70px;
}

form {
  p {
      float:left;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

header {
  img {
      height:50px;
      margin-left:6px;
      margin-right:60px;
      float:left;
      }
  &:after {
      content: "";
      display: table;
      clear: both;
      }
}

html {
    width:600px;
}

h2 {
    display:inline;
    font-size:2.5rem;
    text-transform:uppercase;
    }

img {
    max-width:100%;
}


nav ul {
    display:block;
    width:420px;
    padding:0px;
    float:left;
    margin-bottom:50px;
}

nav li {
    float:left;
    width:20%;
    font-weight:700;
    padding-right:10px;
    box-sizing:border-box;
    font-size:2.0rem;
    }

.products {
    width:360px;
    float:right;
    margin-left:0px;
      li {
        padding-right:10px;
        padding-left:10px;
        width:143px;
        height:145px;
        float:left;
        box-sizing:border-box;
        margin-bottom:20px;
      }
    }

#quantity {
    width:40px;
    margin-right:22px;
}

.review {
    width:575px;

    }

.review-avatar {
    display:inline;
    margin-bottom:15px;
}

.review-date {
    display:block;

    }

.review-body {
    width:460px;
    float:left;
    }

.review-header {
    width:70px;
    margin-right:20px;
    float:left;
    }

.review-rating {
    float:left;
    margin-left:321px;
    margin-top:0px;

    }

.review-user {
    float:left;
    display:block;
    margin-top:0px;
    }

.review-subject {
    margin-top:0px;
    }

.sidebar {
    width:200px;
    margin-right:10px;
    ul {
        list-style:none;
    }
    li {
        margin-bottom:4px;
    }

    }

#submit {
    background-image: url(images/submit.jpg);
    width:100px;
    margin: auto;
    background-size:100%;
    background-repeat:no-repeat;
    box-sizing:border-box;
}

}

/* desktop layout */
@media screen and (min-width:1200px) {

.detail {
    width:1200px;
    }

.detail-images {
    width:763px;
    float:left;
    margin-right:45px;
    }

.detail-large {
    width:763px;
    }

.detail-small {
    width:230px;
    padding-left:8px;
    padding-right:8px;
}

.features {
    margin-bottom:70px;
}

form {
  p {
      float:left;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

header {
      img {
        height:50px;
        margin-left:0px;
        margin-right:20px;
        margin-right:60px;
        float:left;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
}

html {
    width:1200px;
}

h2 {
    display:inline;
    font-size:2.5rem;
    text-transform:uppercase;
    }

nav {
  ul {
      display:block;
      width:1000px;
      float:left;
      margin-bottom:50px;
  }
  li {
      float:left;
      width:15%;
      font-weight:700;
      padding-right:10px;
      box-sizing:border-box;
      font-size:2.5rem;
      }
}

.products {
    width:860px;
    float:right;
    margin-left:0px;
      li {
        padding-right:20px;
        padding-left:20px;
        width:260px;
        height:260px;
        float:left;
        box-sizing:border-box;
        margin-bottom:46px;
    }
  }

.product-description {
    width:250px;
    margin-right:20px;
    float:left;
    }

.product-price {
    font-weight:700;
}

#quantity {
    width:40px;
    margin-right:22px;
}

.review {
    width:770px;
    margin-left:200px;
    }

.review-body {
    width:665px;
    }

.review-header {
    width:70px;
    margin-right:20px;
    }

.review-rating {
    float:right;
    }

.review-user {
    float:left;
    }

.sidebar {
    width:200px;
    margin-right:10px;
      ul {
        list-style:none;
      }
      li {
          width:218px;
          margin-top:10px;
      }
    }


#submit {
    background-image: url(images/submit.jpg);
    width:100px;
    margin: auto;
    background-size:100%;
    background-repeat:no-repeat;
    box-sizing:border-box;
}

}
